.booksFilters__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 70px;
    margin: -1px 0 0;
    box-shadow:
            1px 0 0 0 #000,
            0 1px 0 0 #000,
            1px 1px 0 0 #000,
            1px 0 0 0 #000 inset,
            0 1px 0 0 #000 inset;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.booksFilters__item:hover {
    background-color: #eee;
}

.booksFilters__item.booksFilters__item--active {
    box-shadow:  1px 0 0 0 #000,
    0 0 0 0 #000,
    1px 0 0 0 #000,
    1px 0 0 0 #000 inset,
    0 1px 0 0 #000 inset;
    font-weight: bold;
}

.booksFilters__item:hover.booksFilters__item--active {
    background-color: transparent;
}
