.BooksFilters__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 70px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.BooksFilters__item:hover {
    background-color: #eee;
}
.BooksFilters__item.BooksFilters__item--active {
    border-bottom: none;
}
.BooksFilters__item:hover.BooksFilters__item--active {
    background-color: transparent;
}
