* {
  box-sizing: border-box;
  font-family: 'Arial';
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: none;
}
.App {
  display: flex;
  justify-content: center;
  min-width: 520px;
  max-width: 1320px;
  padding: 50px 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
